body {
    background-color: #E7FBFB;

}

header h1 {
    text-align: center;
    font-size: 4em;
    text-decoration-color: #010B5B

}

header h1 {
    margin: auto;
    color: #010B5B

}